@import "../../styles/variables";

.header {
  @apply grid bg-dark-theme-light fixed w-full;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  min-height: $minHeaderHeight;
  grid-template-columns: minmax(15%, auto) 1fr 2fr;
  grid-template-areas: "branding navigation userIcons";

  .branding {
    grid-area: branding;
    @extend .flex-center;
  }

  .navigation {
    grid-area: navigation;
    @extend .flex-center;
  }

  .userIcons {
    @apply fill-current;
    grid-area: userIcons;
    justify-self: end;
    @extend .flex-center;
  }

  // tailwind:sm (ipad)
  @media (min-width: 640px) {
    grid-template-areas:
      "branding userIcons userIcons"
      "navigation navigation navigation";
  }

  // tailwind:lg (desktop)
  @media (min-width: 1024px) {
    grid-template-areas:
      "branding navigation userIcons"
  }
}

// Utils
.flex-center {
  @apply flex items-center;
}